*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */

    }


body {
    background-image: url('assets/Background_Website.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    Background-size: cover;
    
}
/* the main container */

.front-side,
.back-side {
  width: 576px;
  height: 936px;
  position: relative;
  /* adjust this to space out the cards */
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  
}

/* .front-side{
} */

.name{
  display: grid;
  position: relative;
  margin-left:30px;
  padding: 10px

}

.secondary{
  display: grid;
  position: relative;
  margin-left:30px;

}
.text-container{
  font-family: 'Jost', sans-serif;
  position: absolute;
  top: 300px;
  left: auto;
}
h1{
  font-family: 'Jost', sans-serif;
  font-weight: 200; 
  font-style: normal; 
  font-size: 50px; 
  line-height: 0px; 
  text-transform: lowercase; 
  letter-spacing: 5px;
  text-align: left;
  color: #ffffff;}

  h2{
      font-family: 'Jost', sans-serif;
      font-weight: 300; 
      font-style: normal; 
      font-size: 30px; 
      line-height: 550px; 
      text-transform: lowercase; 
      letter-spacing: 2px;
      text-align: left;
      position: relative; Left: 50px;
      color: #ffffff;}
      
h3{
  font-family: 'Jost', sans-serif;
  font-weight: 600; 
  font-style: normal; 
  font-size: 30px; 
  line-height: 500px; 
  text-transform: capitalize; 
  letter-spacing: 2px;
  text-align: left;
  position: relative; Left: 50px;
  color: #ffffff;}

.icon-container{
  width:50%;
  margin: 0 auto;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "a"
  "b"
  "c";
  scale: 0.17;
  grid-gap: 10x;
  position: absolute;
  top: 335px;
  left: -40px;
}
#web{
  position: relative;
  left: 120px;
  top: 30px;
}
/* .circle{
  background-image: url("/assets/circle.svg");
  grid-area: a;
} */


/* h3{
  margin-bottom: 0px;
}

h5{
  margin-top: 0px;
  padding-top: 0px;
} */


/* svg styling */
/* .st0{display:none;} */
.st1{display:inline;}

svg{
  fill:purple;
}

#icon-fill{
  fill:none;
}



.svg-interaction:hover{
  fill:rgb(105, 195, 255);
  opacity: 0.5;
  animation:pulse; 
  animation-duration: 2s;
}